[submodule "michael/previous_years"]
	path = michael/previous_years
	url = https://github.com/michaelotty/AdventOfCode.git
[submodule "chris"]
	path = chris
	url = https://github.com/enygma999/AdventOfCode
[submodule "will"]
	path = will
	url = https://gitlab.com/laywill/advent-of-code-2021.git
	branch = main
[submodule "emily"]
	path = emily
	url = https://github.com/emilyhunt/advent-of-code
	branch = main
[submodule "thomas"]
	path = thomas
	url = https://github.com/Hypothawits/AoC
	branch = main
[submodule "angel"]
	path = angel
	url = https://github.com/ACascarino/advent_of_code_2021.git
	branch = main
[submodule "alex"]
	path = alex
	url = https://github.com/alexbabington/MyAOC
	branch = main
[submodule "tom"]
	path = tom
	url = https://github.com/TomDufall/prog-puzzles
	branch = main
