[submodule "michael/previous_years"]
	path = michael/previous_years
	url = https://github.com/michaelotty/AdventOfCode.git
[submodule "chris"]
	path = chris
	url = https://github.com/enygma999/AdventOfCode
[submodule "will-2021"]
	path = will-2021
	url = https://gitlab.com/laywill/advent-of-code-2021/
	branch = main
[submodule "will-2022"]
	path = will-2022
	url = https://gitlab.com/laywill/advent-of-code-2022/
	branch = main
[submodule "emily"]
	path = emily
	url = https://github.com/emilyhunt/advent-of-code
	branch = main
[submodule "thomas"]
	path = thomas
	url = https://github.com/Hypothawits/AoC
	branch = main
[submodule "alex"]
	path = alex
	url = https://github.com/alexbabington/MyAOC
	branch = main
[submodule "tom"]
	path = tom
	url = https://github.com/TomDufall/prog-puzzles
	branch = main
[submodule "michael"]
	path = michael
	url = https://github.com/michaelotty/AdventOfCode
	branch = main
[submodule "abi"]
	path = abi
	url = https://github.com/abiterry/Advent-Of-Code-2022
	branch = main
[submodule "oli"]
	path = oli
	url = https://github.com/oli-tailby/advent-of-code
	branch = master
[submodule "angel"]
	path = angel
	url = git@github.com:ACascarino/advent_of_code.git
	branch = main
[submodule "anna"]
	path = anna
	url = git@github.com:anna-lcg/AdventOfCode.git
	branch = main
