[submodule "michael/previous_years"]
	path = michael/previous_years
	url = https://github.com/michaelotty/AdventOfCode.git
[submodule "chris"]
	path = chris
	url = https://github.com/enygma999/AdventOfCode
[submodule "tomdufall/solutions"]
	path = tomdufall/solutions
	url = https://github.com/TomDufall/prog-puzzles
[submodule "will"]
	path = will
	url = https://gitlab.com/laywill/advent-of-code-2021.git
[submodule "emily"]
	path = emily
	url = https://github.com/emilyhunt/aoc.emilydoesastro.com
[submodule "thomas"]
	path = thomas
	url = https://github.com/Hypothawits/AoC
[submodule "emilyh"]
	path = emilyh
	url = https://github.com/emilyhunt/aoc.emilydoesastro.com
[submodule "angel"]
	path = angel
	url = https://github.com/ACascarino/advent_of_code_2021.git
