name: Sync Submodules

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync:
    name: Sync Submodules
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash

    steps:
    # Checkout the repository to the GitHub Actions runner
    - name: Checkout
      uses: actions/checkout@v2
      with:
        token: ${{ secrets.ENYGMA_SYNC }}
        submodules: true

    # Update references
    - name: Update submodules
      run: |
        git pull --recurse-submodules
        git submodule update --remote --recursive

    - name: Commit update
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        file_pattern: static
        commit_message: Update submodules.
      
